/*               GERAL                 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /* variaveis */
  --bg-color: #edf2ff;
  --text-color: black;
  --primary-color: #4267ed;
  --primary-color-dark: #364fc7;
}

#body {
  background: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

/*               CONTAINER                  */
.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: var(--primary-color) solid 4px;
  padding: 3.7px;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

p.username {
  font-family: 'Roboto Mono', monospace;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 48px 0px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #edf2ff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

/*               BOTÕES DE TEMA                  */
.temas {
  width: 100vw;

  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mudarTema {
  border: none;
  background-color: var(--primary-color);
  color: white;

  font-size: 12px;
  width: 100px;
  height: 30px;
  justify-content: center;
  transition: background 400ms;
  border-radius: 6px;
  text-transform: uppercase;
}

.mudarTema:hover {
  background-color: var(--primary-color-dark);
  color: #edf2ff;
}

#lista-botao {
  margin-top: 12px;
  transition: opacity 180ms;
}

#lista-botao.esconder {
  visibility: hidden;
  opacity: 0;
}

.p {
  border: none;
  background-color: var(--primary-color);
  color: white;

  font-size: 12px;
  width: 100px;
  height: 16px;
  justify-content: center;
  transition: background 400ms;
  border-radius: 6px;
  text-transform: uppercase;
}

.p:hover {
  background: #d206ba;
  color: #edf2ff;
}

.dp {
  border: none;
  background-color: var(--primary-color);
  color: white;

  font-size: 12px;
  width: 100px;
  height: 16px;
  justify-content: center;
  transition: background 400ms;
  border-radius: 6px;
  text-transform: uppercase;
}

.dp:hover {
  background: #79016b;
  color: #edf2ff;
}

.db {
  border: none;
  background-color: var(--primary-color);
  color: white;

  font-size: 12px;
  width: 100px;
  height: 16px;
  justify-content: center;
  transition: background 400ms;
  border-radius: 6px;
  text-transform: uppercase;
}

.db:hover {
  background: #0f0179;
  color: #edf2ff;
}

.b {
  border: none;
  background-color: var(--primary-color);
  color: white;

  font-size: 12px;
  height: 16px;
  width: 100px;
  justify-content: center;
  transition: background 400ms;
  border-radius: 6px;
  text-transform: uppercase;
}

.b:hover {
  background: #2190ff;
  color: #edf2ff;
}

/*               TEMAS                  */
#body.dark-blue {
  --bg-color: #00082f;
  --text-color: #edf2ff;
}

#body.pink {
  --bg-color: #edf2ff;
  --text-color: black;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

#body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #edf2ff;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}
